.forum-wrapper {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	flex: 1; /* fills the rest of the available space on the page */
	overflow-y: auto; /* scroll if page is taller than the wrapper itself is */
	/* background-color: pink; */
}

/* .forum-wrapper-home {
	background-color: rgb(216, 44, 73);
}

.forum-wrapper-user {
	background-color: rgb(163, 77, 91);
} */
